<!DOCTYPE html>
<!-- upto 2 directory depth-->
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Muhammad Jihad A</title>
    <!-- Open Graph / Facebook -->
    <meta property="fb:app_id" content="573447313776431">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://me.socketspace.com">
    <meta property="og:title" content="My Profesional Journey - Muhammad Jihad A">
    <meta property="og:description" content="Hi, Open this link to see my complete Professional Journey about Cloud Engineering, SRE & DevOps, Data, and Software Development - Tech Enthusiast - IT Infra Solution Architect | DevOps | Site Reliability Engineer">
    <meta property="og:image" content="https://me.socketspace.com/images/me.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://twitter.com/abbdurahmanj">
    <meta property="twitter:title" content="My Profesional Journey - Muhammad Jihad A">
    <meta property="twitter:description" content="Hi, Open this link to see my complete Professional Journey about Cloud Engineering, SRE & DevOps, Data, and Software Development - Tech Enthusiast - IT Infra Solution Architect | DevOps | Site Reliability Engineer">
    <meta property="twitter:image" content="https://me.socketspace.com/images/me.png">
    <link rel="shortcut icon" href="https://me.socketspace.com/images/me.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap" media="print" onload="this.media='all'"/>
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700;800&amp;display=swap"/>
    </noscript>
    <link href="./css/font-awesome/css/all.min.css?ver=1.2.0" rel="stylesheet">
    <link href="./css/bootstrap-icons/bootstrap-icons.css?ver=1.2.0" rel="stylesheet">
    <link href="./css/bootstrap.min.css?ver=1.2.0" rel="stylesheet">
    <link href="./css/aos.css?ver=1.2.0" rel="stylesheet">
    <link href="./css/main.css?ver=1.2.0" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5986/5986331.png">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="header-nav" role="navigation">
        <div class="container"><a class="link-dark navbar-brand site-title mb-0" href="#">Welcome to My Professional Journey!</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-2">
              <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
              <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="page-content">
      <div id="content">
<header>
  <div class="cover bg-light">
    <div class="container px-3">
      <div class="row">
        <div class="col-lg-6 p-2"><img class="img-fluid" src="https://cdn-icons-png.flaticon.com/512/5986/5986331.png" alt="hello"/></div>
        <div class="col-lg-6">
          <div class="mt-5">
            <div id="typed"></div>
            <h1 class="intro-title marker" data-aos="fade-left" data-aos-delay="50">My name is Muhammad Jihad A</h1>
            <div class="mt-2">
              <p class="lead fw-normal mt-2 d-inline" data-aos="fade-up" data-aos-delay="100">IT Infra Solution Architect | Site Reliability Engineer | DevOps</p><br/>
            <small class="text-muted">IT Infra Solution Architect - SiCepat Express Indonesia</small>
            </div>
            <p class="lead fw-normal mt-3" data-aos="fade-up" data-aos-delay="100">"Move Fast, <b>Embrace</b> Things"</p>
            <div class="social-nav" data-aos="fade-up" data-aos-delay="200">
              <nav role="navigation">
                <ul class="nav justify-content-left">
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/abbdurahmanj/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://medium.com/@abbdurahman" title="Twitter"><i class="fab fa-medium"></i><span class="menu-title sr-only">Medium</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://github.com/socketspace-jihad" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/abbdurahman/" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://twitter.com/abbdurahmanj" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>
                  </ul>
              </nav>
            </div>
            <div class="mt-3" data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary shadow-sm mt-1 hover-effect" href="#contact">Get In Touch <i class="fas fa-arrow-right"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-bg"></div>
</header>
<div class="section pt-4 px-3 px-lg-4" id="about">
  <div class="container-narrow">
    <div class="row">
      <div class="col-md-6">
        <h2 class="h4 my-2">Hola! I'm Muhammad Jihad.</h2>
        <p>I’m a book reader and tech enthusiast. I love code using Go, Python, and sometimes JavaScript.
            Experienced with public cloud providers such as GCP and AWS. Love to automate things using Bash Script, Jenkins, IaC (Teraform, Ansible, etc) with GitOps approach using ArgoCD and Git Provider such as Gitlab or Github.
            I'm also experienced with few Database Technology such as MySQL for ACID Transaction, MongoDB for NoSQL Database,Redis for caching, etc.
            Btw i'm also a developer who excited to build some awesome stuff such as Web Application and Mobile Apps using Flutter. 🙂</p>
        <div class="row mt-3">
          <div class="col-sm-2">
            <div class="pb-1">Email:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">abbdurahmanj@gmail.com | jihad@socketspace.com</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Degree:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">Bachelor of Geological Engineering</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">University:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">Universitas Padjadjaran</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Phone:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">+62-812-2010-0516</div>
          </div>
          <div class="col-sm-2">
            <div class="pb-1">Address:</div>
          </div>
          <div class="col-sm-10">
            <div class="pb-1 fw-bolder">Bandung, Indonesia</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100"><img class="avatar img-fluid mt-2" src="images/me.png" width="400" height="400" alt="Walter Patterson"/></div>
    </div>
  </div>
</div>
<div class="section px-3 px-lg-4 pt-5" id="services">
  <div class="container-narrow">
    <div class="text-center mb-5">
      <h2 class="marker marker-center">My Expertise</h2>
    </div>
    <div class="text-center">
      <p class="mx-auto mb-3" style="max-width:600px"> I offer services fit for any website or app. I can quickly maximize timely deliverables for real-time schemas.</p>
    </div>
    <div class="row py-3">
      <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="100"><img class="mb-2" src="images/services/cloud-server.png" width="96" height="96" alt="web design"/>
        <div class="h5">Cloud Engineering</div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="200"><img class="mb-2" src="https://cdn-icons-png.flaticon.com/512/7067/7067846.png" width="96" height="96" alt="graphic design"/>
        <div class="h5">SRE & DevOps</div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="300"><img class="mb-2" src="images/services/big-data.png" width="96" height="96" alt="ui-ux"/>
        <div class="h5">Data Engineering</div>
      </div>
      <div class="col-md-3 text-center" data-aos="fade-up" data-aos-delay="400"><img class="mb-2" src="images/services/binary-code.png" width="96" height="96" alt="app development"/>
        <div class="h5">Software Development</div>
      </div>
    </div>
  </div>
</div>
<div class="section px-3 px-lg-4 pt-5" id="skills">
  <div class="container-narrow">
    <div class="text-center mb-5">
      <h2 class="marker marker-center">My Skills & Certification</h2>
    </div>
    <div class="text-center">
      <p class="mx-auto mb-3" style="max-width:600px">I am a quick learner and specialize in multitude of skills required for Cloud Engineering, SRE, DevOps and Data</p>
    </div>
    <div class="bg-light p-3">
      <h5>Skills</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="py-1">
            <div class="row">
              <div class="col-sm-3">
                Programming Language
              </div>
              <div class="col-sm-9">
                <ul>
                  <li>Go</li>
                  <li>Python</li>
                  <li>Bash Script</li>
                  <li>JavaScript</li>
                  <li>Dart</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="py-1">
            <div class="row">
              <div class="col-sm-3">
                Data Engineering
              </div>
              <div class="col-sm-9">
                <ul>
                  <li>SQL Database (MySQL, PostGres)</li>
                  <li>NoSQL (MongoDB, Cassandra)</li>
                  <li>In Memory cache (Redis)</li>
                  <li>Search & Warehouse (Apache Druid, Elasticsearch)</li>
                  <li>Time Series DB (InfluxDB, M3)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="py-1">
            <div class="row">
              <div class="col-sm-3">
                Monitoring & Alerting
              </div>
              <div class="col-sm-9">
                <ul>
                  <li>New Relic</li>
                  <li>Prometheus</li>
                  <li>Grafana</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="py-1">
            <div class="row">
              <div class="col-sm-3">
                Infrastructure
              </div>
              <div class="col-sm-9">
                <ul>
                  <li>Google Cloud Platform</li>
                  <li>Amazon Web Service</li>
                  <li>Docker, Kubernetes</li>
                  <li>Istio</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="py-1">
            <div class="row">
              <div class="col-sm-3">
                CI / CD
              </div>
              <div class="col-sm-9">
                <ul>
                  <li>IaC (Terraform, Ansible)</li>
                  <li>Jenkins</li>
                  <li>Helm</li>
                  <li>Security Test (k6, SonarQube)</li>
                  <li>GitLab CI</li>
                  <li>ArgoCD, ArgoCD Canary Rollout</li>
                  <li>Secret Engine (Vault)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="py-1">
            <div class="row">
              <div class="col-sm-3">
                SRE Principles
              </div>
              <div class="col-sm-9">
                <ul>
                  <li>SLI Spec, Implementation</li>
                  <li>SLO</li>
                  <li>Error Budget & Error Cost</li>
                  <li>Pager Load</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-light">
          <h5>Certification</h5>
          <div>
            <a href="https://www.credential.net/995a9ada-f77e-4584-a2d9-54b38046387d">
              <p>Google Cloud - Professional Cloud Architect</p>
            </a>
          </div>
          <div>
            <a href="https://socketspace.com/docs/IPP_Membership_Certificate.pdf">
              <p>Seagate - System Builder Partner</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section px-3 px-lg-4 pt-5" id="experience">
  <div class="container-narrow">
    <div class="text-center mb-5">
      <h2 class="marker marker-center">Working Experience</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" data-aos="fade-right" data-aos-delay="100">
          <div class="card-header px-3 py-2">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="h5 mb-1">Infra Solution Architect</h3>
                <div class="text-muted text-small">SiCepat Express Indonesia - Jakarta, Indonesia <small>(March 2022 - Now)</small></div>
              </div><a href="https://www.flaticon.com/free-icons/devops" title="devops icons"><img src="https://cdn-icons-png.flaticon.com/512/7067/7067842.png" width="48" height="48" alt="ui-ux"/></a>
            </div>
          </div>
          <div class="card-body px-3 py-2">
            <p>I assist team to provisioning and setup new GKE cluster using Helm, Kustomization, and Flux on GCP using GitOps approach.
              I was also improving automation by create internal tools using golang and some scripting.
              I was Enhancing automation using third party tools such as Jira ticket with internal system.
              I was Managing AWS DMS using terraform.
              I Built and Managed CI/CD to dev, staging, and production environment.
              Then I also Assist developers to investigate and diagnose apps problem on infra level.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" data-aos="fade-left" data-aos-delay="300">
          <div class="card-header px-3 py-2">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="h5 mb-1">Senior DevOps Engineer</h3>
                <div class="text-muted text-small">Innovez One Pte,Ltd. - Singapore, Singapore <small>(Jan 2021 - March 2022)</small></div>
              </div><img src="https://cdn-icons-png.flaticon.com/512/6321/6321713.png" width="48" height="48" alt="app development"/>
            </div>
          </div>
          <div class="card-body px-3 py-2">
            <p>I Setup and managed LDAP for companies Authentication and Authorization.
              Also I Created and managed OpenVPN for safe development environment for developers (integrate with LDAP).
              I also managed NAS for default object storage.
              I built CI/CD using jenkins to on prem development environment and to AWS production environment.
              I built and manage production environment using AWS serverless service which is AWS Fargate.
              I Built, managed, and integrate AWS Workspace for developers environment to on prem infrastructure.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" data-aos="fade-left" data-aos-delay="400">
          <div class="card-header px-3 py-2">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="h5 mb-1">DevOps Engineer (Project Based)</h3>
                <div class="text-muted text-small">Elitery (PT Data Sinergitama Jaya) - Jakarta, Indonesia <small>(Jan 2021 - March 2021)</small></div>
              </div><img src="https://cdn-icons-png.flaticon.com/512/6321/6321713.png" width="48" height="48" alt="full stack"/>
            </div>
          </div>
          <div class="card-body px-3 py-2">
            <p>Setup auto provisionning VM on GCE using Bash Script and Google Cloud SDK.
              Also setup jenkins for build CI/CD for application deployment.
              Setup baremetal and connect to VMWare vSphere with RAID 2 setup.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" data-aos="fade-left" data-aos-delay="400">
          <div class="card-header px-3 py-2">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="h5 mb-1">Cloud Consultant (Project Based)</h3>
                <div class="text-muted text-small">Kementrian PUPR - Jakarta, Indonesia <small>(Oct 2020 - Dec 2020)</small></div>
              </div><img src="images/services/cloud-server.png" width="48" height="48" alt="full stack"/>
            </div>
          </div>
          <div class="card-body px-3 py-2">
            <p>Provisionning GCE on Google Cloud match with the machine type spec.
              Prepare High Availability GCE with Node Group, and setup Google Cloud Load Balancer.
              Migrate existing Apps such as
              1. Absensi (api.pu.go.id)
              2. Web Company Profile (pu.go.id)
              3. EPPID (eppid.pu.go.id)
              4. EHRM (ehrm.pu.go.id)
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" data-aos="fade-right" data-aos-delay="200">
          <div class="card-header px-3 py-2">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="h5 mb-1">Cloud Engineer</h3>
                <div class="text-muted text-small">Ekrutes Indonesia - Bandung, Indonesia <small>(Jan 2020 - Jan 2021)</small></div>
              </div><img src="images/services/cloud-server.png" width="48" height="48" alt="web design"/>
            </div>
          </div>
          <div class="card-body px-3 py-2">
            <p>Archictecting and implementing the cloud infrastructure for company application requirements.
              Provision Google Cloud Resources such as GCE, GKE, GCS and the secure access to it.
              Migrate existing appplication from on-prem infra to Google Cloud.
              Build CI/CD using Github, Google Cloud Build and Google Container Registry for store Docker Image.
              Create monitoring, logging, and alerting on Google Stackdriver.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3" data-aos="fade-left" data-aos-delay="400">
          <div class="card-header px-3 py-2">
            <div class="d-flex justify-content-between">
              <div>
                <h3 class="h5 mb-1">Software Engineer</h3>
                <div class="text-muted text-small">PT. Comtronics System - Bandung, Indonesia <small>(March 2019 - Jan 2020)</small></div>
              </div><img src="https://cdn-icons-png.flaticon.com/512/8099/8099680.png" width="48" height="48" alt="full stack"/>
            </div>
          </div>
          <div class="card-body px-3 py-2">
            <p>I Maintained existing software for improving Comtronics ISP.
              I also code using python, java, go, and nodejs to built an app that provide company business.
              I implemented modern methodology on software development architecture ( RESTful, Microservice ).
              I also Designed and tuned database and using modern database technology such as Postgres, Elasticsearch.
              Also I experienced with Integrating with 3rd party services such as Firebase and Public Cloud.
              Also I create Monitoring, logging, and visualizing application log and events.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section px-2 px-lg-4 pt-5" id="portfolio">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="marker marker-center">Learning Progress & Contribution</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-center">My Medium Post's</h5>
        <div id="medium">
        </div>
      </div>
      <div class="col-md-8 text-center">
        <h5 class="r">My Youtube Channel</h5>
        <iframe width="100%" height="100%" style="display: block;" class="rounded text-center" src="https://www.youtube.com/embed/wKPdyU4X-_s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="section px-2 px-lg-4 pb-4 pt-5 mb-5" id="contact">
  <div class="container-narrow">
    <div class="text-center mb-5">
      <h2 class="marker marker-center">Contact Me</h2>
    </div>
    <div class="row">
      <div class="col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="bg-light my-2 p-3 pt-2"><form action="https://formspree.io/your@email.com"
    method="POST">
    <div class="form-group my-2">
      <label for="name" class="form-label fw-bolder">Name</label>
      <input class="form-control" type="text" id="name" name="name" required>
    </div>
    <div class="form-group my-2">
      <label for="email" class="form-label fw-bolder">Email</label>
      <input class="form-control" type="email" id="email" name="_replyto" required>
    </div>
  <div class="form-group my-2">
    <label for="message" class="form-label fw-bolder">Message</label>
    <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4" required></textarea>
  </div>
  <button class="btn btn-primary mt-2" type="submit">Send</button>
</form>
        </div>
      </div>
      <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
        <div class="mt-3 px-1">
          <div class="h5">Let’s talk about self improvement, tech, and the opportunities!</div>
          <p>If you like my work and want to avail my services then drop me a message using the contact form. </p>
          <p>Or get in touch using my email, linkedin or my contact number.</p>
          <p>See you!</p>
        </div>
        <div class="mt-53 px-1">
          <div class="row"> 
            <div class="col-sm-2">
              <div class="pb-1">Email:</div>
            </div>
            <div class="col-sm-10">
              <div class="pb-1 fw-bolder">jihad@socketspace.com</div>
            </div>
            <div class="col-sm-2">
              <div class="pb-1">LinkedIn:</div>
            </div>
            <div class="col-sm-10">
              <div class="pb-1 fw-bolder">abbdurahmanj</div>
            </div>
            <div class="col-sm-2">
              <div class="pb-1">Phone:</div>
            </div>
            <div class="col-sm-10">
              <div class="pb-1 fw-bolder">+62-812-2010-0516</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="pt-4 pb-4 text-center bg-light">
  <div class="container">
    <div class="my-3">
      <div class="h4">Muhammad Jihad A</div>
      <p>IT Infrastructure Solution Architect | Site Reliability Engineer | DevOps</p>
      <div class="social-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/abbdurahmanj/" title="LinkedIn"><i class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://medium.com/@abbdurahman" title="Twitter"><i class="fab fa-medium"></i><span class="menu-title sr-only">Medium</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/socketspace-jihad" title="Github"><i class="fab fa-github"></i><span class="menu-title sr-only">LinkedIn</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/abbdurahman/" title="Instagram"><i class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a></li>
            <li class="nav-item"><a class="nav-link" href="https://twitter.com/abbdurahmanj" title="Twitter"><i class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="text-small text-secondary">
      <div class="mb-1">Template By &copy; Super Folio. All rights reserved.</div>
      <div class="mb-1">Image from &copy; Flaticon. | <a href="https://www.flaticon.com/free-icons/code" title="code icons">Code icons created by juicy_fish - Flaticon</a> | <a href="https://www.flaticon.com/free-icons/server" title="server icons">Server icons created by vectorsmarket15 - Flaticon</a> | <a href="https://www.flaticon.com/free-icons/devops" title="devops icons">Devops icons created by SBTS2018 - Flaticon</a> | <a href="https://www.flaticon.com/free-icons/big-data" title="big data icons">Big data icons created by Aficons studio - Flaticon</a></div>
      
      <div>
        <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a></div>
    </div>
  </div>
</footer></div>
    </div>
    <div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
    <script src="./scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
    <script src="./scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
    <script src="./scripts/BigPicture.min.js?ver=1.2.0"></script>
    <script src="./scripts/purecounter.min.js?ver=1.2.0"></script>
    <script src="./scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
    <script src="./scripts/aos.min.js?ver=1.2.0"></script>
    <script src="./scripts/main.js?ver=1.2.0"></script>
    <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        new TypeIt("#typed", {
            strings: "<p class='.typed' style='display: inline'>Hello !</p>",
            speed: 250,
            loop: true,
        })
        .type("",{delay:2000})
        .delete(".typed",{delay:350})
        .type("<p class='.typed' style='display: inline'>Assalammualaikum !</p>",{speed:5})
        .type("",{delay:2000})
        .go();
    </script>
    <script>
      fetch("https://api.rss2json.com/v1/api.json?rss_url=https%3A%2F%2Fmedium.com%2Ffeed%2F%40abbdurahman")
      .then(data=>data.json())
      .then(json=>{
        for(feed of json.items){
          $("#medium").append(
            `
              <div class='p-1 my-1 card'>
                <h5>${feed.title}</h5>
                <div class='row'>
                  <div class='col-md-8'>
                    <small>Published on: ${feed.pubDate}</small>
                  </div>
                  <div class='col-md-4'>
                    <a href='${feed.link}'><button class='btn-small rounded text-white bg-dark'>See on Medium</button></a>
                  </div>
                </div>
              </div>
            `
          )
        }
      })
    </script>
  </body>
</html>